Package: com.vvebofix.tweak
Name: VVebo Fix
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: 修复 VVebo 用户主页显示问题，适用于 iOS 14 TrollFools 注入
Maintainer: VVeboFix
Author: VVeboFix
Section: Tweaks
Tag: purpose::extension