Package: com.vvebofix
Name: VVeboFix
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Fix VVebo user profile timeline
Maintainer: local
Author: local
Section: Tweaks
